.body{
    background-color: #FFFAF5;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400vh;
    background-color: #FFFAF5;
}

.hero-container {
    height: 100vh;
    width: 100%;
}

.hero-title {
    color: white;
    font-size: 5rem;
    margin-top: 30px;
    text-align: center;
}

.hero-title-accent {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.hero-title-accent::after {
    content: "";
    position: absolute;
    
    top: 7vh;
    left: 15px;
    
    width: 100%;
    height: 50%;
    
    background-color: #51591B;
    z-index: -1;
}

.hero-title-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
}

.image-container {
    margin-top: 20px;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.hero-certifications-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding-top: 10vh;
}

.hero-certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%;
    height: 100%;
    background-color: #51591B;
}

.hero-certifications img {
    height: 95%;
    width: auto;
}

.menu-section {
    width: 100%;
    height: 100vh;
    background-color: #51591B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: #51591b;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%238d9c2b' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.menu-container {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #51591b;
}

.menu-top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    
}

.menu-title {
    color: #F3C83A;
    font-size: 3rem;
    margin-bottom: 5px;
    
}

.menu-description {
    color: white;
    width: 60%;
    text-align: center;
}

.menu-bottom-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    height: 70vh;
}

.reviews-gallery-section {
    width: 100%;
    height: 100vh;
    background-color: #FFFAF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.reviews-section {
    width: 85%;
    height: 40vh;
    border-bottom: 2px solid #51591B;
    border-top: 2px solid #51591B;
}

.gallery-section {
    width: 85%;
    height: 40vh;
    border-bottom: 2px solid #51591B;
    border-top: 2px solid #51591B;
}

.contact-section {
    width: 100%;
    height: 80vh;
    background-color: #51591B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}