.reviews-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* margin: 40px auto; */
    /* padding: 0 60px; */
}

.embla { overflow: hidden; }
.embla__container { display: flex; }
.embla__slide { 
  flex: 0 0 100%;
  min-width: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__arrow {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background: #51591B; /* Your brand green */
  color: #F3C83A;    /* Your brand gold */
  border: 2px solid #F3C83A;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* z-index: 10; */
  transition: all 0.2s ease;
}

.embla__arrow:hover {
  background: #F3C83A;
  color: #51591B;
}

/* .embla__prev { left: 0; } */
/* .embla__next { right: 0; } */

/* The Card itself */
.review-card {
  background: white;
  /* padding: 50px; */
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  height: 29vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-text {
  font-style: italic;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.review-author {
  font-weight: bold;
  color: #51591B;
}