.menu-item {
    width: 40vh;
    height: 50vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}