.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black;
}

.logo {
    font-weight: bold;
    padding-left: 5%;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 5%;
    font-weight: bold;
    color: black;
}