.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vh;
    margin-right: 20vh;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}